{% extends "base.html" %}

{% block content %}

<div class="login-container">

<div class="login-card" style="max-width:700px;">

<h1>Add Product</h1>

<form method="POST" enctype="multipart/form-data">

<input
type="text"
name="name"
placeholder="Product Name"
required
>

<textarea
name="description"
placeholder="Description"
style="width:100%;height:120px;margin:15px 0;padding:15px;"></textarea>

<input
type="text"
name="short_description"
placeholder="Short Description"
>

<textarea
name="long_description"
placeholder="Long Description"
style="width:100%;height:180px;margin:15px 0;padding:15px;">
</textarea>

<input
type="text"
name="leather_type"
placeholder="Leather Type"
>

<input
type="text"
name="hardware"
placeholder="Hardware"
>

<input
type="text"
name="lining"
placeholder="Lining"
>

<input
type="text"
name="dimensions"
placeholder="Dimensions"
>

<input
type="text"
name="weight"
placeholder="Weight"
>

<input
type="text"
name="made_in"
placeholder="Made In"
>

<input
type="text"
name="warranty"
placeholder="Warranty"
>

<textarea
name="care"
placeholder="Care Instructions"
style="width:100%;height:120px;margin:15px 0;padding:15px;">
</textarea>

<label style="display:block;text-align:left;margin:15px 0;color:white;">

<input
type="checkbox"
name="is_bestseller">

 Bestseller Product

</label>

<input
type="number"
step="0.01"
name="price"
placeholder="Price"
required
>

<input
type="number"
name="stock"
placeholder="Stock"
required
>

<select
name="category"
style="width:100%;padding:15px;margin:15px 0;">

<option value="">Select Category</option>

{% for category in categories %}

<option value="{{ category.id }}">
{{ category.name }}
</option>

{% endfor %}

</select>

<input
type="file"
name="image"
>

<button type="submit">

Save Product

</button>

</form>

</div>

</div>

{% endblock %}