{% extends "base.html" %}

{% block content %}

<div class="container">

    <h1>Admin Dashboard</h1>

    <p>Welcome to Forge & Hide Admin Panel.</p>

    <hr><br>

    <a href="{{ url_for('products') }}">
        📦 Manage Products
    </a>

    <br><br>

    <a href="{{ url_for('add_product') }}">
        ➕ Add Product
    </a>

    <br><br>

    <a href="{{ url_for('categories') }}">
        🏷️ Manage Categories
    </a>

    <br><br>

    <a href="{{ url_for('logout') }}">
        🚪 Logout
    </a>

</div>

{% endblock %}